.kovill1{
    height:400px;
    width: 400px;
}
.kovill2{
    height:400px;
    width: 400px;
}
.kovill3{
    height:400px;
    width: 400px;
}
.kovill4{
    height:400px;
    width: 400px;
}
.kovill5{
    height:400px;
    width: 400px;
}





